
body{    
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: small;
background-image: url('folha.jpg');    
background-repeat: no-repeat;
background-size: 100%;  
background-position: 100%; 
color: rgb(180, 45, 45);
background-color: rgb(168, 157, 91);
}

#container{
margin-top: 4%;
}

#title{
text-align: center;
font-family: 'Dancing Script', cursive;
color: rgb(153, 36, 7);
font-size: large;
font-weight: bolder;
}

#intro{
font-family: 'Cinzel', serif;
font-size: small;
margin-left: 15%;
margin-right: 15%;
font-weight: bolder;
color: rgb(243, 86, 59);
}

.hide {
display: none;
}

#deslocId1, #deslocId2{
border-radius: 10px;
width: 60px;
}

#submit1, #submit2{
width: 150px;
background-color: rgb(163, 50, 50);
font-family: cursive;
color: aliceblue;
border-radius: 15px;
}

#msgCifrada, #msgDecifrada{
font-weight: bolder;
font-style: oblique;
font-size: 20px; 
color: rgb(155, 24, 20);
text-shadow: 3px 3px 3px rgb(168, 166, 166);
}

#messageId, #messageIdDecifra{
margin-bottom: 15px;
width: 300px;
border-radius: 15px;
}

.boxCifra1{
    width: 386px;
    padding: 5px;    
    border-radius: 15px;        
    background: url("chave.png");
    }

    .boxCifra2{
    width: 386px;
    padding: 5px;
    border-radius: 15px;        
    background: url("chave.png");
    display: inline-block;
    margin-left: 25px;
    }

#cifrarTitle{
    font-family: fantasy;
    color: rgb(224, 70, 9);
    font-weight: bolder;
    font-size: medium;
}

.cont{
    display: inline-flex;
    text-align: center;
    margin-top: 35px;
}
